.box {
    display: flex;
    align-items: stretch;
}

.one {
    width: 100px;
    height: 100px;
    background-color: rgb(252, 102, 102);
    border-radius: 5px;

}
.two {
    width: 100px;
    height: 100px;
    background-color: rgb(252, 102, 102);
    border-radius: 5px;

}